<!doctype html>
    <html>
    <head>
      <title>수분 섭취 기록 - <%=title%> </title>
      <meta charset="utf-8">
    </head> 
    <body>
      <h1><a href="/water"><%=user%>의 수분 섭취 기록</a></h1>
      <h2><%=title%></h2>
      <h3>현재까지 마신 컵수 : <%=cups%>컵</h3>
      <p><%=description%></p>
      <ul>
        <li><a href="/water/page/1">1컵</a></li>
        <li><a href="/water/page/2">2컵</a></li>
        <li><a href="/water/page/3">3컵</a></li>
        <li><a href="/water/page/4">4컵</a></li>
        <li><a href="/water/page/5">5컵</a></li>
        <li><a href="/water/page/6">6컵</a></li>
        <li><a href="/water/page/7">7컵</a></li>
        <li><a href="/water/page/8">8컵</a></li>
        <li><a href="/water/page/9">9컵</a></li>
        <li><a href="/water/page/10">10컵</a></li>
      </ul>

    </body>
    </html>
    