<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/master.css">
  </head>
  <body>
    <h1>Weight for <%=user%></h1>
    <br>
<form method="POST" action='/weight'>
<!-- <input type="text" name="weight" placeholder = 'weight'> -->
<select name="weight">
  <%for(var i = 30; i <= 100; i++)
  {%>
    <option value="<%=i%>"><%=i%></option>
  <%}%>
</select>
 <button type="submit">Ok</button>
</form>
<br>
<ul>
  <%for(var i = 0; i < rows.length; i++)
  { var data  = rows[i];%>
   <li>
     <a href="#">
       <h2><%=data.d%></h2>
       <p> <%=data.weight%>kg </p>
     </a>
   </li>
   <li>
 <% } %>
 </ul>
  </body>
</html>
