<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/master.css">
  </head>
  <body>
    <a href ="/home" ><img src="https://image.flaticon.com/icons/svg/2948/2948025.svg" class="home"></a>
    <a href='/logout' > <img src="https://image.flaticon.com/icons/svg/126/126467.svg" class="home logout"></a>
    <h1>Weight for <%=user%></h1>
<form method="POST" action='/weight'>
<!-- <input type="text" name="weight" placeholder = 'weight'> -->
<select name="weight">
  <%for(var i = 20; i <= 100; i++)
  {%>
    <option value="<%=i%>"><%=i%></option>
  <%}%>
</select>
 <button type="submit">Ok</button>
</form>
<br>
<ul>
  <%for(var i = 0; i < rows.length; i++)
  { var data  = rows[i];%>
   <li>
     <a href="#">
       <h2><b><%=data.d%></b></h2><br>
       <p><%=data.weight%>kg </p>
     </a>
   </li>
   <li>
 <% } %>
 </ul>
  </body>
</html>
